body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 15px;
	margin:0px;
	padding:0px;
}

.center{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	background-color:#D6FFCF;
	font-size:18px;
	border-radius:5px;
}

#pagetop{
	background-color:#c9deb6;
	border-bottom-style:solid;
	border-top-style:solid;
	border-bottom-width:1px;
	border-color:#4b870e;
	position:fixed;
	top:0px;
	border-top-width:40px;
	border-top-color:#66bf0b;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:0px;
	border-right-right-radius:0px;
}

#pagetop ul li , #pagetop ul, #pagetop ul li a, #pagetop ul li a:visited{
	margin:0px;
	padding:0px;
	display:inline;
	text-align:center;
	line-height:40px;
	padding-left:8px;
	padding-right:8px;
	font-size:22px;
	font-weight:bold;
	text-decoration:none;
	height:40px;
	color:#000000;
}

#pagetop a:link{
color:#335e08;
}

#pagetop ul li a:hover{
	color:#66bf0b;
}

#page{
	border-style:solid;
	border-width:20px;
	border-top-width:40px;
	border-color:#66bf0b;
}

#experience ul li, ul{
	color:#4d4d4d;
	margin:0px;
	padding:0px;
	list-style-type:none;
	text-decoration:none;
}

.category{
	padding-top:80px;
}

#aboutMe ul, ul li{
	font-size:18px;
	list-style-type:none;
	text-decoration:none;
}

hr.styled {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(36,66,7,0), rgba(36,66,7,0.75), rgba(36,66,7,0));
    background-image:    -moz-linear-gradient(left, rgba(36,66,7,0), rgba(36,66,7,0.75), rgba(36,66,7,0));
    background-image:     -ms-linear-gradient(left, rgba(36,66,7,0), rgba(36,66,7,0.75), rgba(36,66,7,0));
    background-image:      -o-linear-gradient(left, rgba(36,66,7,0), rgba(36,66,7,0.75), rgba(36,66,7,0));
	margin-top:105px;
}

