
body{
	font-family:sans-serif;
}

p{
	line-height:24px:
}

h1{
	font-size:36px;
}

h2{
	font-size:24px;
}

h3{
	font-size:18px;
	color:green;
	font-family:serif;
	font-weight:bold;
	font-style:italic;
	text-transform:uppercase;
	text-align:center;
}

h4{

}
 
h5{

}

h6{

}

.para{
	background-color:purple;
	color:white;
	padding:10px;
}

a:link{
	color:green;
}
a:visited{
	color:teal;
}
a:hover{
	color:red;
	background-color:blue;
}


